version: '3.8'

services:
  backend:
    image: gdmuzo/uce-backend:v5
    container_name: uce_backend
    ports:
      - "5001:5000"
    environment:
      - FLASK_ENV=production
      - DATABASE_URL=postgresql://postgres.nkscijfcukvjmyjjddzc:UceProyectoFinal@aws-1-us-east-1.pooler.supabase.com:6543/postgres
      - SECRET_KEY=clave_secreta_prod
      - R2_BUCKET_NAME=uce-uploads
      - R2_ENDPOINT_URL=https://7f6607d99e7358a8dffb8282e5082fe6.r2.cloudflarestorage.com
      - R2_ACCESS_KEY_ID=de89fc678e686df9ab75e2adb090e867
      - R2_SECRET_ACCESS_KEY=1089c5b701a27f88dc04045bfb68db1224fc5f0d684d931dd4a271689af1356c
    command: gunicorn --bind 0.0.0.0:5000 --workers 1 --threads 2 --timeout 120 main:app

  frontend:
    image: gdmuzo/uce-frontend:v13
    container_name: uce_frontend
    ports:
      - "80:80"
    # environment:
    #   - VITE_API_URL=http://100.49.76.19:5001 # Ya está compilado en la imagen, no es necesario aquí.
    # command: npm run dev -- --host # ELIMINADO: Nginx usa su propio comando por defecto
